body {
  background-color: #AEBDCA;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 7%;
}

img{
  height: 200px;
}

h1{
  color: #182747;
}
h2{
  color: #182747;
}
h3{
  color: #182747;
}
